/*.vs

/pratice SDL

# Ignore everything in folders SDL Rendering window  and SDL initalization
/SDL Rendering window/*
/SDL initalization/*
/SFML/*

# Except for .sdl files in folders 1 and 2
!/SDL Rendering window/*.sln
!/SDL initalization/*.sln
!/SFML/Create Window/* .sln
!/SFML/Eventss/* .sln